.boton {
  text-align: center; }

.card-lenguaje {
  flex: 1 200px;
  padding: 2px 5px 2px 5px;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.681) 0px 4px 5px; }

.content {
  margin: auto; }

.content h1,
h2 {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }

.conntent p {
  text-align: justify; }

.contentFlex {
  margin-left: 20px; }

.contentFlex h1,
h2 {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }

.contentFlex p {
  text-align: justify; }

.contentFlex .breadcrumb {
  margin-top: 60px;
  padding: 10px;
  background-color: aquamarine; }

.contentGrillas {
  margin-left: 20px; }

.contentGrillas h1,
h2 {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }

.contentGrillas p {
  text-align: justify; }

.contentGrillas .breadcrumb {
  margin-top: 60px;
  padding: 10px;
  background-color: aquamarine; }

.contentCom h1,
h2 {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }

.contentCom p {
  text-align: justify; }

.contentCom .breadcrumb {
  margin-top: 60px;
  padding: 10px;
  background-color: aquamarine; }

.contenedor-cards {
  padding-left: 10px; }

.footer img {
  border-radius: 180px;
  width: 200px; }

.footer {
  margin-top: 10px;
  text-align: center;
  background-color: black;
  color: white; }

.iconFooter {
  padding-right: 10px; }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: #22332d; }

.encabezado {
  margin-top: 55px;
  padding: 5px; }

.encabezado h1 {
  text-align: center;
  font-size: 50px; }

.encabezado img {
  width: 100%; }

.parrafos-inicio p,
h2 {
  color: #fff; }
