.content {
  margin: auto;
}

.content h1,
h2 {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.conntent p {
  text-align: justify;
}

.contentFlex {
  margin-left: 20px;
}

.contentFlex h1,
h2 {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.contentFlex p {
  text-align: justify;
}
.contentFlex .breadcrumb {
  margin-top: 60px;
  padding: 10px;
  background-color: aquamarine;
}

.contentGrillas {
  margin-left: 20px;
}

.contentGrillas h1,
h2 {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.contentGrillas p {
  text-align: justify;
}
.contentGrillas .breadcrumb {
  margin-top: 60px;
  padding: 10px;
  background-color: aquamarine;
}

.contentCom h1,
h2 {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.contentCom p {
  text-align: justify;
}
.contentCom .breadcrumb {
  margin-top: 60px;
  padding: 10px;
  background-color: aquamarine;
}

.contenedor-cards {
  padding-left: 10px;
}
