* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #22332d;
}

.encabezado {
  margin-top: 55px;
  padding: 5px;
}
.encabezado h1 {
  text-align: center;
  font-size: 50px;
}

.encabezado img {
  width: 100%;
}
